
.login-paciente{
        font-family: 'Inter', sans-serif;
        margin-left: 20px;

}
.email{
    margin-top: 25px;
}
.lembrar{

    margin-top: 50px; 
}
.butao{
    display: flex;
}

.esqueci{
    margin-bottom: 10px;
}