<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<di<>, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="caixas">
    <p>Dados da Coleta</p> 
    
    <ul class="dados-coleta">
        <li>Data da Coleta<br>
            <input type="date">
        </li>
        <li>Motivo do Exame<br>
            <select></select>
        </li>
        <li>Ultima Mestruação <br>
            <input>
        </li>
    </ul>
    </div>

    <div class="caixas">
     <p> Histórico </p>
    <ul class="historico">
        
        <li>Fez preventivo antes?
            <input type="checkbox">
        </li>

        <li>Está grávida?
            <input type="checkbox">
        </li>

        <li>Usa DIU?
            <input type="checkbox">
        </li>

        <li>Usa pílula?
            <input type="checkbox">
        </li>

        <li>Usa hormônio menopausa?
            <input type="checkbox">
        </li>

        <li>Já fez radioterapia?
            <input type="checkbox">
        </li>

        <li>Tem sangramento pós relação?
            <input type="checkbox">
        </li>

        <li>Sangramento após menopausa?
            <input type="checkbox">
        </li>

        <section id="ano-preventivo">Ano do último preventivo?<br>
            <input>
        </section>
    </ul>

    </div>

    <div class="caixas">
        <p>Exame:</p>
        <ul class="exame">
          <li>Inspeção do colo
            <select>
                 <option value="">Selecione...</option>
                  <option value="">Sem alteração</option>
            </select>
          </li>

          <li>Sinais de DST observados:<br>
            <input>
          </li>
        </ul>
    </div>

</body>
</html>