<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/perfilPaciente.css">
</head>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
<body>
    <div class="login-paciente">
        <h2>Login</h2>
        <h4>Email</h4>
        <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
        <h4>Senha</h4>
        <input type="password" name="senha" id="Senha" placeholder="Digite sua senha">
        <button class="butao" type="submit">Entrar</button>
    </div>
</body>
</html>