<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/perfilPaciente.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap"
        rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="login-paciente">
        <h2 class="text-3xl font-bold">Recuperação</h2>
        
        <div>
            <h4 class="email text-xs ml-1">Digite seu E-mail</h4>
            <input class="input input border-1 border-gray-300 rounded-md pl-3" type="email" name="email" id="email"
                placeholder="Digite seu e-mail">
             <button class="butao bg-clip-border px-19 py-1 bg-blue-900 text-white rounded-lg mt-2" type="submit">Recuperar</button>
                
             <h4 class="text-xs mt-6 ml-1">Digite o código:</h4>
            <input class="input border-1 border-gray-300 rounded-md pl-3"  name="number" id="number"
                placeholder="Insira o código">

            <button class="butao bg-clip-border px-19 py-1 bg-blue-900 text-white rounded-lg mt-2" type="submit">Confirmar</a></button>
            
        </div>
       
        

    </div>
</body>
</html>